---
data_dir: {{ data_dir }}
{% for block_of_param in ['sources','transforms','sinks'] %}
{{ block_of_param }}:
{% for block_name,block_val in config[block_of_param].items() %}
  {{ block_name }}:
{% for param_name, param_val in config[block_of_param][block_name].items() %}
    {{ param_name }}:{% if param_val is string %} "{{ param_val }}"
{% elif param_val is mapping %}

{% for k,v in param_val.items() %}
      {{ k }}: {{ v }}
{% endfor %}
{% elif param_val is sequence %}

{% for n in param_val %}
      - {{ n }}
{% endfor %}
{% else %}{{ param_val|lower }}{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
